.footer {
  height: 300px;
  background-color: var(--red);
  display: flex;
  justify-content: space-between;
}

.leftPart,
.middlePart,
.rightPart {
  width: 300px;
  padding-top: 2rem;
}

.middlePart {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.logo {
  margin-bottom: 50px;
}

.navItems {
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}

.footer a,
.footer button {
  color: var(--yellow);
}

.line {
  background-color: var(--yellow-dark);
  height: 2px;
}
