.footer {
    padding-top: 2rem;
    height: 300px;
    background-color: var(--red);
}

.leftPart, .middlePart, .rightPart {
    text-align: center;
    display: inline-block;
    width: 33%;
}


.navItems {
    margin-bottom: 1rem;
    padding: 0;
    list-style: none;
}

.navItem {
    display: inline-block;
    margin-right: 1rem;
}

.footer a, .footer button {
    color: var(--yellow);
}