.line {
    position: fixed;
    height: var(--red-line-height);
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--red);
    z-index: 9999;
}

.mainWithMarge {
    background-color: var(--color-xlight);
}

.wrapper {
    max-width: 55ch;
    width: calc(100% - var(--space));
    margin: calc(var(--red-line-height) + var(--header-height)) auto 8rem;
    padding: var(--space);
}
