.imageContainer {
 display: inline-block;
}

.form {
    margin: 50px 0 10px;
    text-align: unset;
}

.form h2 {
    font-size: var(--font-size-title);
}

.trash {
    width: 100%;
    text-align: center;
    border: none;
    background: none;
    font-size: 1.4em;
    padding: 0 0.4em 0.4em;
}

.separate {
    padding-top: 3em;
    border-bottom: 1px solid black;
}