.container {
    color: hsl(0, 0%, 95%);
    background-color: hsl(5, 15%, 5%);

}

.horseListSection {
    padding: 5em 0 15em;
}

.horseListSection h1 {
    font-size: var(--font-size-xtitle);
}

.horseListSection button {
    border: solid var(--yellow-dark) 1px;
    padding: 10px;
    margin: 10px;
    background-color: var(--yellow);
}