:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: Georgia;
  --font-primary: 'Lato', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 540px;
  --max-content-half-width: 270px;
  --red-line-height: 6px;
  --nav-1-height-without-border: 31px;
  --red-line-nav-1-height: 38px;
  --header-height: 60px;
  --admin-nav-height: 40px;

  /*
   * Colors
   * ======================================================================== */

  --color-xxlight: #fafafa;
  --color-xlight: #f3f3f3;
  --color-light: #d0d0d0;
  --color-dark: #a1a1a1;
  --color-xdark: #333;
  --color-xxdark: #151515;


  --red-light: #fcb6b6;
  --red: #910101;
  --yellow-light: #f1e9a6;
  --yellow: #dabb61;
  --yellow-dark: #b79744;
  --yellow-xdark: #917831;

  /*
   * Font size
   * ======================================================================== */
  --font-size-xtitle: 2.4rem;
  --font-size-title: 1.8rem;
  --font-size-plus-plus: 1.2rem;
  --font-size-plus: 1rem;
  --font-size: 0.8rem;
  --font-size-min: 0.7rem;

  /*
   * Form
   * ======================================================================== */
  --admin-button-width: 25%;

  /*
     * Parallax
     * ======================================================================== */
  --scale: 0.1;
  --space: 6vmin;
}

@media (prefers-reduced-motion) {
  :root {
    --scale: 0;
  }
}
